<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA251CCD1F36E46500EEDFE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA251CE11F36E46500EEDFE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA251CEC1F36E46500EEDFE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
